.outer-ludo {
    display: flex;
    flex-direction: column;
}

.ludo {
    display: flex;
    justify-content: center;
}

.ludo-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10;
    width: 750px;
    height: 750px;
    background-color: #9d89cb;
}

.status {
    margin: 10px 0 10px 0;
    text-align: center;
    color: white;
    font-size: 2em;
    min-height: 30px;
    min-width: 700px;
    background-color: cadetblue;
}